<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>iLearnML</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css">
    <link rel = "icon" href ="assets/images/title_icon.png" type = "image/x-icon">
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">iLearnML</a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="index.html">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">About</a></li>
                        <li class="scroll-to-section"><a href="#services">Services</a></li>
                        <li class="scroll-to-section"><a href="#frequently-question">Frequently Questions</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Optimizations</a>
                            <ul>
                                <li><a href="gradient%20decent.html">Gradient Decent</a></li>
                                <li><a href="">Newton</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Learning</a>
                            <ul>
                                <li><a href="">SVM</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="section" id="welcome2">

    <!-- ***** Header Text Start ***** -->
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->


<!-- ***** Features Big Item Start ***** -->
<section id="course">
    <h2 align="center">What is Gradient Decent?</h2>
   <h5> <br>Gradient descent is an optimization algorithm used to minimize some function by iteratively moving in the direction of steepest descent as defined by the negative of the gradient.
    In analogy, we can think of Gradient Descent as being a ball rolling down on a valley. The deepest valley is the optimal global minimum and that is the place we aim for. Depending on where the ball starts rolling, it may rest in the bottom of a valley. But not in the lowest one. This is called a local minimum and in the context of our model, the valley is the error surface.
   </h5><br><center><img src="assets/images/gd_ball.png"><br>"we can think of Gradient Descent as being a ball rolling down on a valley." </center><br>
    <h5>
        Similarly, the way we initialize our model weights may lead it to rest in a local minimum. To avoid that, we initialize the two weight vectors with values from a random normal distribution with zero mean and low variance.
        At each iteration, we are going to take a random subset of our dataset and linearly combine it with our weights. This subset is called a mini batch. After the linear combination, we feed the resulting vector in the MSE (mean of squared errors) function to calculate the current error.
        With this error signal, we can calculate the partial derivatives of the error and get the Gradient.
        This step size is calculated by multiplying the derivative to the learning rate. The value of the step should not be too big as it can skip the minimum point and thus the optimisation can fail.
    </h5>
    <br><center><img src="assets/images/gd_pic.jpg"><br>big learning rate vs small learning rate</center><br>
    <h5>
        the cost function within gradient descent updates its accuracy with each iteration of parameter updates. Until the function is close to or equal to zero, the model will continue to adjust its parameters to yield the smallest possible error.
    </h5>
</section>

<section class="section" id="about2">

        <iframe src="../viewer/viewerGD.html" width="100%" height="700" scrolling="no"> </iframe>

</section>

<section class="section" id="about3">
    <br><br><br><br><br><br>ljasdlkfjsajfjasjlfjsf<br><br><br>
</section>

<section class="section" id="about4">
    <iframe src="../viewer/viewerSVM.html" width="100%" height="700" scrolling="no"> </iframe>
</section>








<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>

</body>
</html>