<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>iLearnML</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl-carousel.css">
    <link rel = "icon" href ="assets/images/title_icon.png" type = "image/x-icon">
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">iLearnML</a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="index.html">Home</a></li>
                        <li class="scroll-to-section"><a href="#DL">introduction</a></li>
                        <li class="scroll-to-section"><a href="#DL2">Perceptron</a></li>
                        <li class="scroll-to-section"><a href="#DL3">optimize</a></li>
                        <li class="scroll-to-section"><a href="#DL4">Demonstration</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Introduction</a>
                            <ul>
                                <li><a href="">Deep Learning</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Optimizations</a>
                            <ul>
                                <li><a href="gradient%20decent.html">Gradient Decent</a></li>
                                <li><a href="">Newton</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Learning</a>
                            <ul>
                                <li><a href="">SVM</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="section" id="welcome2">

    <!-- ***** Header Text Start ***** -->
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->


<!-- ***** Features Big Item Start ***** -->
<div id="course">
<section id="DL">
    <br>
                <h5> <br><br><br>
                    In the context of ML, optimization is an iterative process of attempting to (typically) minimize a real valued function. Real valued functions come into play in ML as loss functions – functions that assess the performance of whatever ML construct (classifiers, self-driving cars, etc.) we want to create. 
                </h5>
        <br>
</section>
    <section class="section" id="DL2">
        <br>
        <div class="row">
            <br><br>
            <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                <h5>
                    For example, let's look at the perceptron classifier. Perceptron is an early ML classifier whose operation is demonstrated in the attached illustration.
                    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;  •	We are given a set of points on the plane (can be generalized to any dimension) – red and blue.
                    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;  •	We want to find a line w such 
                                 <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     -Red points are below w.
                                 <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     -Blue points are above w.
            </div>
            <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="assets/images/perceptron.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
        <h5>
            <br><br> All these conditions are expressed mathematically in the illustration.
            <br><br> The initial set of labeled (red/blue) examples – the training set – is used to obtain w. Once we have w, any new data that we will pass through our classifier will be labeled as blue or red based on its relation to w.
        </h5>
        <br>

    </section>
    <section class="section" id="DL3">
        <h5>How are going to obtain w? In the case of perceptron, we are going to define the following loss function:</h5>
        <table>
            <tr>
                <img src="assets/images/mathExpression.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </tr>
        </table>
        <h5>Let's break down this expression:
            <br><br>&nbsp;&nbsp;&nbsp; &nbsp;    •The elements (x_1,y_1 ),…(x_n,y_n ) represent our training set.
	        <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        - Each x_i represents a point/vector (not a vector component)
	        <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        - Each y_i represents a label.
            <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;            •Blue/red, coded as +1/-1.
            <br><br>&nbsp;&nbsp;&nbsp; &nbsp;    •In general, we will classify data based on the value of the product p=w^T⋅x_i
            <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        -For p>0, the x_i is above w and we classify the example as blue (see illustration).
            <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        -For p"<"0 we classify the point as red (for p=0 we are undecided, assume it doesn’t happen). 
            <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;    •I[mistake on〖 x〗_i ] is an indicator function: returns 1 for false classification, else 0.
	        <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        -Effectively that means our sum will count only false classifications.
            <br><br>&nbsp;&nbsp;&nbsp; &nbsp;    •Now, look at the overall expression:
            <br><br> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;       -If a blue example is classified as red: y_i=+1, w_T⋅x_i"<"0. So, we get:
            <br><br> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;                               y_i⋅(w^T⋅x_i )  "<" 0 
            <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        We want our loss function to increase following a misclassification, so we need to reverse the sign – that leads to the final expression we see in the sum.  
            <br><br>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;        -As 'homework', the reader is encouraged to work out how the same expression applies correctly when a red is classified as blue.
            <br><br>The L(w) we now have is a real valued function of two variables and can be optimized as such. A w for which L decreases represents an improved classifier over the training set.
</h5>
    </section>
    <section class="section" id="DL4">
        <br>
        <h5>
            -The optimization process itself will be the focus of the next few chapters 
            <br>[paragraph about how the optimization process works]
        </h5>
    </section>
</div>







<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>

</body>
</html>