<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iLearnML Graph Viewer</title>
    <script src={{url_for('static', filename='viewer/mathbox-bundle.js')}}></script>
    <script src={{url_for('static', filename='viewer/dat.gui.js')}}></script>

    <!-- http://silentmatt.com/javascript-expression-evaluator/ -->
    <script src={{url_for('static', filename='viewer/parser.js')}}></script>

    <link rel="stylesheet" href={{url_for('static', filename='viewer/mathbox.css')}}>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <style>
        #paramForm {
            display : none;
        }
    </style>
    <link rel = "icon" href ={{url_for('static', filename='assets/images/title_icon.png')}} type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='../../templates/assets/css/templatemo-art-factory.css')}}>
</head>
<body>
<div id="paramForm">
<div class="contact-form">
    <table>
        <form>
            <tr>
                <td>
                    Function:
                    <input class="contact-field" type="text" id="func" name="func" value="sin(x^2+y^2)">
                </td>
                <td>
                    Style:
                    <select id="style" >
                        <option value="rb">red blue</option>
                        <option value="rainbow">rainbow</option>
                        <option value="grayscale">grayscale</option>
                        <option value="solid blue">solid blue</option>
                    </select>
                </td>
                <td>
                    View wireframe:
                    <select id="wireframe" >
                        <option value="true">yes</option>
                        <option value="false">no</option>
                    </select>
                </td>
                <td>
                    View shadow:
                    <select id="shadow" >
                        <option value="false">no</option>
                        <option value="true">yes</option>
                    </select>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td colspan="4">
                    xMax : <input class="contact-field" type="text" id="xmax" value="3"> xMin : <input class="contact-field" type="text" id="xmin" value="-3"> yMax : <input class="contact-field" type="text" id="ymax" value="3"> YMin : <input class="contact-field" type="text" id="ymin" value="-3"> zMax : <input class="contact-field" type="text" id="zmax" value="0"> zMin : <input class="contact-field" type="text" id="zmin" value="0">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    startX : <input class="contact-field" type="text" id="startx" value="0"> startY : <input class="contact-field" type="text" id="starty" value="0"> startZ : <input class="contact-field" type="text" id="startz" value="0">endX : <input class="contact-field" type="text" id="endx" value="0"> endY : <input class="contact-field" type="text" id="endy" value="0"> endZ : <input class="contact-field" type="text" id="endz" value="0">
                    <button class="main-button" type="button" onclick="updateGraph()">update Graph</button>
                </td>
            </tr>
        </form>
    </table>
	</div>
</div>
<div class="contact-form">
<table>
    <tr>
        <td>
            <button class="main-button" type="button" onclick="PrevVec()">Previous Step</button>
            <button class="main-button" type="button" onclick="NextVec()">Next Step</button>
        </td>

    </tr>
</table>
<form action="/{{func}}/" methhods=['POST']>
    <a> learning rate: </a><input class="contact-field" name="lr" value ="{{lr}}" placeholder="learning rate">
    <a> x: </a><input class="contact-field" id = "x" name="x" placeholder="x">
    <a> y: </a><input class="contact-field" id = "y" name="y" placeholder="y">
    <a>epochs:</a><input class="contact-field" id = "epochs" value ="{{epochs}}" name="epochs" placeholder="epochs">
    <select class="contact-field" id="SGD" name="opt">
        <option class="st" value="SGD">GD</option>
        <option class="st" value="MomentumSGD">MomentumSGD</option>
        <option class="st" value="Newton">Newton</option>
    </select>
    <button class="main-button" name="send" type="submit">Apply</button>
</form>
</div>
<script>
    document.getElementById("paramForm").style.display = "none";
    document.getElementById("SGD").value = "{{opt}}";
    var mathbox = mathBox({
        plugins: ['core', 'controls', 'cursor', 'mathbox'],
        controls: {klass: THREE.OrbitControls}
    });
    if (mathbox.fallback) throw "WebGL not supported"

    var three = mathbox.three;
    three.renderer.setClearColor(new THREE.Color(0xFFFFFF), 1.0);
    var displayTrace = true;
    var view;

    var functionText = "sin(x^2+y^2)";

    var pointText = "(1,1)";
    var currVecNum=0;
    var points=[];
    var a = 1, b = 1;
    var	xMin = -3, xMax = 3, yMin = -3,	yMax = 3, zMin = -3, zMax = 3;
    var zAutofit = true;
	var currCurveNum=0;

    // start of updateGraph function ==============================================================
    var updateGraphFunc = function() {
        currCurveNum=0;
		currVecNum=0;
		points=[];
		curves=[];
        var hashParams = "{{pyString}}";
        if(hashParams.length != 0) {
            hashParams = hashParams.split('$');// substr(1) to remove the `#`
            for (var i = 0; i < hashParams.length; i++) {
                var p = hashParams[i].split('=');
                if (p[0] == "points") {
                    points = p[1].split('*');
                    for (var j = 0; j < points.length; j++) {
                        points[j] = points[j].split('|');
                    }
                } else {
                    if (p[0] == "curves") {
                        curves = p[1].split('|');
                    } else {
                        if (p[0] == "hide") {
                            var x = document.getElementById("paramForm");
                            if (p[1] == "true") {
                                x.style.display = "block";
                            } else {
                                x.style.display = "none";
                            }
                        } else {
                            document.getElementById(p[0]).value = decodeURIComponent(p[1]);
                        }
                    }
                }
            }
        }
		var zFunc = Parser.parse(document.getElementById("func").value.toLowerCase()).toJSFunction(['x', 'y']);
		var graphColorStyle = document.getElementById("style").value.toLowerCase();
		var wireframe = document.getElementById("wireframe").value.toLowerCase();
		var shadow = document.getElementById("shadow").value.toLowerCase();
		var xMax = parseFloat(document.getElementById("xmax").value);
		var yMax = parseFloat(document.getElementById("ymax").value);
		var xMin = parseFloat(document.getElementById("xmin").value);
		var yMin = parseFloat(document.getElementById("ymin").value);
		var zMax = parseFloat(document.getElementById("zmax").value);
		var zMin = parseFloat(document.getElementById("zmin").value);
		var startx = parseFloat(document.getElementById("startx").value);
		var starty = parseFloat(document.getElementById("starty").value);
		var startz = parseFloat(document.getElementById("startz").value);
		var endx = parseFloat(document.getElementById("endx").value);
		var endy = parseFloat(document.getElementById("endy").value);
		var endz = parseFloat(document.getElementById("endz").value);
		graphData.set("expr",
				function (emit, x, y) {
					emit(x, zFunc(x, y), y);
				}
		);
		if (curves.length!=0){
			newton_curve.set("visible",true);
			var cFunc = Parser.parse(curves[0].toLowerCase()).toJSFunction(['x', 'y']);
			curveData.set("expr",
					function (emit, x, y) {
						emit(x, cFunc(x, y), y);
					}
			);
		}
		if (zMax != 0 || zMin!=0){
			zAutofit=false;
		}
		if (zAutofit) {
			var xStep = (xMax - xMin) / 256;
			var yStep = (yMax - yMin) / 256;
			var zSmallest = zFunc(xMin, yMin);
			var zBiggest = zFunc(xMin, yMin);
			for (var x = xMin; x <= xMax; x += xStep) {
				for (var y = yMin; y <= yMax; y += yStep) {
					var z = zFunc(x, y);
					if (z < zSmallest) zSmallest = z;
					if (z > zBiggest) zBiggest = z;
				}
			}
			zMin = zSmallest;
			zMax = zBiggest;
		}
		view.set("range", [[xMin, xMax], [zMin, zMax], [yMin, yMax]]);

		if (graphColorStyle == "grayscale") {
			// zMax = white, zMin = black
			graphColors.set("expr",
					function (emit, x, y) {
						var z = zFunc(x, y);
						var percent = (z - zMin) / (zMax - zMin);
						emit(percent, percent, percent, 1.0);
					}
			);
		} else if (graphColorStyle == "rainbow") {
			// rainbow hue; zMax = red, zMin = violet
			graphColors.set("expr",
					function (emit, x, y) {
						var z = zFunc(x, y);
						var percent = (z - 1.2 * zMin) / (zMax - 1.2 * zMin);
						var color = new THREE.Color(0xffffff);
						color.setHSL(1 - percent, 1, 0.5);
						emit(color.r, color.g, color.b, 1.0);
					}
			);
		} else if (graphColorStyle == "solid blue") {
			// just a solid blue color
			graphColors.set("expr",
					function (emit) {
						emit(0.5, 0.5, 1.0, 1.0);
					}
			);
		} else if (graphColorStyle == "rb") {
			// rainbow hue; zMax = red, zMin = violet
			graphColors.set("expr",
					function (emit, x, y) {
						var z = zFunc(x, y);
						var percent = (z - 0.9 * zMin) / (zMax - 0.9 * zMin);
						var color = new THREE.Color(0xffffff);
						color.setHSL(1 - 0.3 * percent, 1, 0.5);
						emit(0.0, color.r*0.9, color.b, 1.0);
					}
			);
		}
		if (wireframe == "true") {
			graphViewWire.set("visible", true);
		} else {
			graphViewWire.set("visible", false);
		}
		if (shadow == "true") {
			graphViewSolid.set("shaded", true);
		} else {
			graphViewSolid.set("shaded", false);
		}


			if(points.length!=0){
				for (var i = 0; i < points.length; i++) {
					var start = points[i][currVecNum].split(',');
					var end = points[i][currVecNum + 1].split(',');
					if(i==0){
                    document.getElementById("x").value = start[0];
                    document.getElementById("y").value = start[1];
					}
					var vecData = view.array({
						width: 1, items: 2, channels: 3,
						data: [[parseFloat(start[0]), parseFloat(start[2]), parseFloat(start[1])], [parseFloat(end[0]), parseFloat(end[2]), parseFloat(end[1])]],
					});
					vec[i].set("points", vecData);
				}
			}else {
				var vecData = view.array({
					width: 1, items: 2, channels: 3,
					data: [ [startx, startz, starty],[endx, endz, endy] ],
				});
				vec[0].set("points", vecData);
			}

	}

	// end of updateGraph function ==============================================================


	var updateGraph = function() { updateGraphFunc(); };
	var NextVec= function(){
		counter=0;
		for (var i =0 ;i<points.length;i++){
			if(points[i].length <= currVecNum+1)
				counter++;
		}
		if (points.length != counter){
			currVecNum++;
		}
		counter=0;
        var f_start;
		for (var i =0 ;i<points.length;i++){
			if(points[i].length <= currVecNum+1)
				counter++;
			else{
				var start = points[i][currVecNum].split(',');
				var end = points[i][currVecNum+1].split(',');
				var vecData = view.array({
					width: 1, items: 2, channels: 3,
					data: [ [parseFloat(start[0]),parseFloat(start[2]),parseFloat(start[1])],[parseFloat(end[0]), parseFloat(end[2]), parseFloat(end[1])] ],
				});
				vec[i].set("points", vecData);
					start = points[i][currVecNum - 1].split(',');
					end = points[i][currVecNum].split(',');
					if(i==0){
                    document.getElementById("x").value = start[0];
                    document.getElementById("y").value = start[1];
                        f_start = start;
					}
					vecData = view.array({
						width: 1, items: 2, channels: 3,
						data: [[parseFloat(start[0]), parseFloat(start[2]), parseFloat(start[1])], [parseFloat(end[0]), parseFloat(end[2]), parseFloat(end[1])]],
					});
					if (displayTrace) {
						trace.push(view.vector({
							color: "black", width: 8, end: true, visible: true, points: vecData
						}));
					}else{
						trace.push(view.vector({
							color: "white", width: 8, end: true, visible: true, points: vecData
						}));
					}
                camera.set("position",[(0-f_start[0]),f_start[2],(0-f_start[1])]);
			}
		}
			displayTrace = !displayTrace;

		if (points.length== counter){
			window.alert("no more steps");
		}
		if(curves.length <= currCurveNum+1){
		}
		else{
			currCurveNum++;
			var cFunc = Parser.parse(curves[currCurveNum].toLowerCase()).toJSFunction(['x', 'y']);
			curveData.set("expr",
					function (emit, x, y) {
						emit(x, cFunc(x, y), y);
					}
			);
		}
	};
	var PrevVec= function(){
		if(currVecNum==0)
			window.alert("This is the first step");
		else{
			currVecNum--;
			var f_start;
					for (var i =0 ;i<points.length;i++) {
						if (points[i].length <= currVecNum + 1) {
						} else {
							var start = points[i][currVecNum].split(',');
							var end = points[i][currVecNum + 1].split(',');
							if(i==0){
								document.getElementById("x").value = start[0];
								document.getElementById("y").value = start[1];
								f_start = start;
							}
							var vecData = view.array({
								width: 1, items: 2, channels: 3,
								data: [[parseFloat(start[0]), parseFloat(start[2]), parseFloat(start[1])], [parseFloat(end[0]), parseFloat(end[2]), parseFloat(end[1])]],
							});
							vec[i].set("points", vecData);
							trace.pop().remove();

						}
					}
            camera.set("position",[(0-f_start[0]),f_start[2],(0-f_start[1])]);
			}
			displayTrace = !displayTrace;
		if(currCurveNum==0){
		}
		else{
			currCurveNum--;
			var cFunc = Parser.parse(curves[currCurveNum].toLowerCase()).toJSFunction(['x', 'y']);
			curveData.set("expr",
					function (emit, x, y) {
						emit(x, cFunc(x, y), y);
					}
			);
		}
	};
	// setting proxy:true allows interactive controls to override base position
	var camera = mathbox.camera( { proxy: true, position: [-3,2,-3] } );

	 // save as variable to adjust later
    view = mathbox.cartesian(
	  {
        range: [[xMin, xMax], [yMin, yMax], [zMin,zMax]],
        scale: [2,1,2],
      }
	);

	// axes
	var xAxis = view.axis( {axis: 1, width: 8, detail: 40, color:"red"} );
    var xScale = view.scale( {axis: 1, divide: 10, nice:true, zero:true} );
    var xTicks = view.ticks( {width: 5, size: 15, color: "red", zBias:2} );
    var xFormat = view.format( {digits: 2, font:"Arial", weight: "bold", style: "normal", source: xScale} );
    var xTicksLabel = view.label( {color: "red", zIndex: 0, offset:[0,-20], points: xScale, text: xFormat} );

	var yAxis = view.axis( {axis: 3, width: 8, detail: 40, color:"green"} );
    var yScale = view.scale( {axis: 3, divide: 5, nice:true, zero:false} );
    var yTicks = view.ticks( {width: 5, size: 15, color: "green", zBias:2} );
    var yFormat = view.format( {digits: 2, font:"Arial", weight: "bold", style: "normal", source: yScale} );
    var yTicksLabel = view.label( {color: "green", zIndex: 0, offset:[0,0], points: yScale, text: yFormat} );

	var zAxis = view.axis( {axis: 2, width: 8, detail: 40, color:"blue"} );
    var zScale = view.scale( {axis: 2, divide: 5, nice:true, zero:false} );
    var zTicks = view.ticks( {width: 5, size: 15, color: "blue", zBias:2} );
    var zFormat = view.format( {digits: 2, font:"Arial", weight: "bold", style: "normal", source: zScale} );
    var zTicksLabel = view.label( {color: "blue", zIndex: 0, offset:[0,0], points: zScale, text: zFormat} );

	view.grid( {axes:[1,3], width: 3, divideX: 20, divideY: 20, opacity:0.5, color:"Gray"} );

	var curveData = view.area({
		axes: [1,3], channels: 3, width: 64, height: 64,
		expr: function (emit, x, y)
		{
			var z = x*y;
			emit( x, z, y );
		},
	});
	var graphData = view.area({
		axes: [1,3], channels: 3, width: 64, height: 64,
        expr: function (emit, x, y)
		{
		  var z = x*y;
          emit( x, z, y );
        },
    });

	// actuall emitter set later.
	var graphColors = view.area({
		expr: function (emit, x)
		{
			if (x < 0)
				emit(1.0, 0.0, 0.0, 1.0);
		    else
				emit(0.0, 1.0, 0.0, 1.0);
		},
		axes: [1,3],
		width:  64, height: 64,
		channels: 4, // RGBA
    });
	var vecData = view.array({
		width: 1, items: 2, channels: 3,
		data: [ [0,0,0],[0,0,0] ],
	});

	var vec =[];
	vec[0] = view.vector({color: "#ff0000", width: 8, end: true, visible: true, points: vecData});
	vec[1] = view.vector({color: "#00AF00", width: 8, end: true, visible: true, points: vecData});
	vec[2] = view.vector({color: "#AFA700", width: 8, end: true, visible: true, points: vecData});
	vec[3] = view.vector({color: "#808080", width: 8, end: true, visible: true, points: vecData});
	vec[4] = view.vector({color: "#4B0082", width: 8, end: true, visible: true, points: vecData});
	vec[5] = view.vector({color: "#e77f00", width: 8, end: true, visible: true, points: vecData});
	vec[6] = view.vector({color: "#e77f00", width: 8, end: true, visible: true, points: vecData});
	vec[7] = view.vector({color: "#e77f00", width: 8, end: true, visible: true, points: vecData});
	vec[8] = view.vector({color: "#e77f00", width: 8, end: true, visible: true, points: vecData});
	vec[9] = view.vector({color: "#e77f00", width: 8, end: true, visible: true, points: vecData});

	var  trace =[];

	// create graph in two parts, because want solid and wireframe to be different colors
	// shaded:false for a solid color (curve appearance provided by mesh)
	// width: width of line mesh
	// note: colors will mult. against color value, so set color to white (#FFFFFF) to let colors have complete control.
	var graphShaded = false;
	var graphViewSolid = view.surface({
		points:graphData,
		color:"#FFFFFF", shaded:false, fill:true, lineX:false, lineY:false, colors:graphColors, visible:true, width:0
	});

	var graphWireVisible = true;
	var graphViewWire = view.surface({
		points: graphData,
		color:"#000000", shaded:false, fill:false, lineX:true, lineY:true, visible:graphWireVisible, width:2
    });
	var newton_curve = view.surface({
		points: curveData,
		color:"#000000", shaded:false, fill:false, lineX:true, lineY:true, visible:false, width:2
	});
	updateGraphFunc();
	</script>
</body>
</html>